<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Izin untuk Android 12 dan dibawahnya -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32" />
    
    <!-- Izin untuk Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    
    <!-- Deklarasi fitur kamera (palsu) -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="atat"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Atata"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">
        
        <!-- Main Activity (Launcher) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="atat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Gallery Picker Activity - Heart of the app -->
        <activity
            android:name=".GalleryPickerActivity"
            android:exported="true"
            android:label="atat"
            android:theme="@style/Theme.Atata.Picker"
            android:configChanges="orientation|screenSize">
            
            <!-- Intent Filter untuk FOTO -->
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
            <!-- Intent Filter untuk VIDEO -->
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
            <!-- Intent Filter untuk memilih file (umum) -->
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            
            <!-- Intent Filter untuk pick (umum) -->
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            
            <!-- Meta-data untuk kamera -->
            <meta-data
                android:name="android.hardware.camera"
                android:value="true" />
            <meta-data
                android:name="android.hardware.camera.autofocus"
                android:value="true" />
                
        </activity>
        
    </application>

</manifest>
